#head{
    border-bottom: 3px solid #0078A5;
    background-color: #1F272B;
}


/* Base style for the navbar toggler button */
.navbar-toggler {
    border-color: white; /* Change border color to white */
}

/* Ensure the toggler icon is white on small screens */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Change styles for small screens */
@media (max-width: 991.98px) { /* Bootstrap's lg breakpoint */
    .navbar-toggler {
        border-color: white; /* Ensure border is white on small screens */
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}


/* Styles for small screens */
@media (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show > .nav-link {
        color: rgba(0, 0, 0, .9);
        margin-right: 368px;
       /* Adjust as needed */
    }
}

/* Styles for large screens */
@media (min-width: 769px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 20px; /* Space between links */
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show > .nav-link {
        color: rgba(0, 0, 0, .9);
        margin-right: 20px; /* Same value for consistency */
    }
}

.logo-right {
    margin-left: 10px; /* Adjust this value as needed */
  }
  


  