.background-image2 {
    background-image: url('https://www.nybcpa.com/images/galleries/style/550/feature_image.jpg');
    height: 55vh; /* Full viewport height */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    position: relative; /* Enable positioning for the overlays */
}

#octoberContainer {
    max-width: 54vw; /* Default max width for larger screens */
  }

  @media (max-width: 768px) {
    #octoberContainer {
      width: 100vw; /* Full width on small screens */
      max-width: 100%; /* Ensure it doesn't exceed 100% */
      padding-left: 0; /* Remove left padding */
      padding-right: 0; /* Remove right padding */
      overflow-x: hidden; /* Prevent horizontal scroll */
    }
    .row {
      margin-left: 0; /* Remove left margin on rows */
      margin-right: 0; /* Remove right margin on rows */
    }
  }